@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  text-align: left;
}

.streaklo-header {
  background-color: black;
  padding: 10px 0;
}

.streaklo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.greeting-header {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.greeting {
  font-size: 4rem;
  color: black;
  margin: 0;
  font-weight: 700;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  max-width: none;
  padding: 0;
}

.recap-header {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Add this new class */
.greeting-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}