@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  text-align: left;
}

.streaklo-header {
  background-color: black;
  padding: 20px 0 10px;
}

.streaklo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.greeting-header {
  background-color: white;
  width: 100%;
  padding: 40px 20px;
  margin-bottom: 20px;
}

.greeting {
  font-size: 4rem;
  color: black;
  margin: 0;
  font-weight: 700;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  max-width: 1200px;
  margin: 0 auto;
}

.recap-header {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* You can keep the .greeting-wrapper class if it's used elsewhere */
.greeting-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Add any additional styles you need for other elements */
/* This is a check